In [8]:
import pandas as pd
import os

In [14]:
data_dir = '../dataset/mnist-in-csv/train_mnist.csv'
# os.path.abspath('../dataset/train_mnist.csv')

'/home/shinw97/Desktop/Face-Recognition/dataset/train_mnist.csv'

In [15]:
df = pd.read_csv(data_dir)

In [23]:
df = df.sort_values('label')
df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
9747,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21455,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40866,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1029,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17722,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
df['label'].value_counts()

1    4684
7    4401
3    4351
9    4188
2    4177
6    4137
0    4132
4    4072
8    4063
5    3795
Name: label, dtype: int64

In [40]:
df[df['label']==0]

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
9747,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21455,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40866,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1029,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17722,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
categorized_list = []
for i in range(10):
    df[df['label'] == i].to_csv('digit-categories/data-' + str(i) + '.csv')